<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Info posts</title>
  <link rel="stylesheet"  href="/style.css"/>
</head>
<body>
<form method="get" action="/posts/search">
  <input type="search" name="title" placeholder="Поиск">
  <input type="submit" value="Найти">
</form>
<div th:each="el : ${posts}" class="cardContainer">
  <h2 th:text="${el.title}"></h2>
  <h3 th:text="${el.phone}"></h3>
  <p th:text="${el.description}"></p>
  <p th:text="${el.place}"></p>
  <div class="cardAction">
    <p th:text="'Просмотров: '+ ${el.views}"></p>
    <a th:href="'/posts/delete/' + ${el.id}" class="back">Удалить</a>
  </div>
<div class="footerNewsAction">
  <a href="/posts/" class="back">Назад</a>
</div>
<form method="post" th:action="'/posts/edit/' + ${el.id}">
  <input id="1"  name="title" type="text" th:value="${el.title}" placeholder="Заголовок">
  <input id="2" name="description" type="text" th:value="${el.description}" placeholder="Описание">
  <input id="3" name="place" type="text" th:value="${el.place}" placeholder="место">
  <input id="4" name="views" type="number" th:value="${el.views}" placeholder="Просмотров">
  <input id="5" name="phone" type="number" th:value="${el.phone}" placeholder="Номер телефона">
  <div class="action-wrapper">
    <input type="submit" value="Изменить">
  </div>
</form>
</div>
</body>
</html>