<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Info posts</title>
  <link rel="stylesheet"  href="/style.css"/>
</head>
<body>
<form method="get" action="/posts/search">
  <input type="search" name="title" placeholder="Поиск">
  <input type="submit" value="Найти">
</form>
<div th:each="el : ${posts}" class="cardContainer">
  <h2 th:text="${el.title}"></h2>
  <h3 th:text="${el.phone}"></h3>
  <p th:text="${el.description}"></p>
  <p th:text="${el.place}"></p>
  <div class="cardAction">
    <p th:text="'Просмотров: '+ ${el.views}"></p>
    <a th:href="'/posts/delete/' + ${el.id}" class="back">Удалить</a>
    <a th:href="'/posts/edit/' + ${el.id}" class="btn">Изменить</a>
  </div>
</div>
<div class="footerNewsAction">
  <a href="/posts/" class="back">Назад</a>
</div>
</body>
</html>