<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Добавление нового склада</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <link rel="stylesheet"  href="/style.css"/>
</head>
<body>
<form th:action="${'/last/add'}" method="post">
  <input type="text" name="name" placeholder="Введите название склада">
  <select  name="street">
    <div th:each="element : ${places}">
      <option th:text="${element.street}"></option>
    </div>
  </select>
  <br>
  <button type="submit">Добавить склад</button>
</form>
</body>
</html>